@font-face {
    font-family: 'Droid Serif';
    src: url(../fonts/DroidSerif-Italic.woff2) format('woff2'), url(../fonts/DroidSerif-Italic.woff ) format('woff');
    font-weight: 300;
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');