        .ba-section-partners {
            background-color: $light-bg;
            padding-bottom: 60px;
            &__title {
                color: $text-color-dark;
                font-family: $secondary-font-family;
                padding-top: 60px;
                padding-bottom: 52px;
                font-size: 24px;
                font-weight: 700;
                line-height: 21px;
                text-align: center;
                position: relative;
                &::after {
                    content: "";
                    display: block;
                    background: $text-color-dark;
                    width: 45px;
                    height: 2px;
                    margin: 10px auto 0;
                }
            }
        }
        
        .ba-media {
            padding: 0 45px;
            display: flex;
            align-items: center;
            flex-direction: column;
            @media screen and (min-width: $large) {
                flex-direction: row;
                justify-content: space-between;
            }
        }